.testimonial-section {
	.sec-title {margin-bottom: 60px;
		span {color: #2D2D2D;font-family: 'Roboto';font-size: 16px;text-transform: uppercase;font-weight: bold;}
		h2 {margin: 0;color: #2D2D2D;font-family: 'Roboto';font-weight: bold;font-size: 27px;margin-top: 10px;margin-bottom: 15px;text-transform: uppercase;}
		p {margin: 0;color: rgba(#2D2D2D,.8);font-size: 16px;}
	}
	.testimonial-carousel {
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;
		.single-tesimonial {
			.img-box, .text-box {display: table-cell;vertical-align: middle;}
			.img-box {width: 350px;padding-left: 35px; padding-top: 47px;
				.inner {position: relative;
					&:before {
						content: '';
						position: absolute;
						top: -25px;
    					left: -13px;
						@include thm-gradient();
						width: 225px;
						height: 225px;
						border-radius: 50%;
						box-shadow: drop-shadow-converter(#2D2D2D, $angle: 135, $distance: 0px, $spread: 0, $size: 23px, $opacity: 20%);
					}
					&:after {
						content: '';
						position: absolute;
						top:-45px;
						left:-30px;
						@include thm-gradient();
						width: 161px;
						height: 161px;
						border-radius: 50%;
						box-shadow: drop-shadow-converter(#2D2D2D, $angle: 135, $distance: 0px, $spread: 0, $size: 23px, $opacity: 20%);
					}
					img {position: relative;z-index: 10;width: auto;border-radius: 50%;}
				}
				h3 {text-transform: uppercase;margin: 0;color: #2d2d2d;font-size: 21px;font-weight: bold;margin-top: 30px;}
			}
			.text-box {
				padding-left: 30px;
				p{margin: 0;}
				span {margin: 0;color: rgba(#2d2d2d, .7);display: inline-block;margin-top: 25px;}
			}
		}
		&.owl-theme .owl-nav {display: none;}
		&.owl-theme .owl-dots {position: absolute;bottom:-6px;left:-40px;width: 100%;text-align: center;}
		&.owl-theme .owl-dots .owl-dot span {background:#9DA6C0;}
		&.owl-theme .owl-dots .owl-dot.active span {@include thm-gradient();}
	}
}