<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="alfacoins-site-verification" content="5d3ea38b2e8725d3ea38b2e8a75d3ea38b2e8dd_ALFAcoins">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:600&subset=latin" type="text/css" rel="stylesheet">
        <link href="https://www.alfacoins.com/sites/all/modules/merchant/css/merchant.button.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://morrisjs.github.io/morris.js/css/morris.css" />
        <link rel="stylesheet" href="css/dashboard.css" />
    </head>
    <body>
        <div class="">
          <header class="navbar-fixed-top">
            <div class="row">
              <div class="container-fluid">
                <div class="pull-left">
                  <div class="pull-left logo text-center">
                    <span><img src="/img/logo.png" /></span>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="marr20">
                    <ul class="nav navbar-top-links navbar-right">
                      
                      <li class="dropdown user">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#"><i class=
                        "fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu dropdown-user">
                          <li class="divider"></li>
                          <li>
                            <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                          </li>
                        </ul><!-- /.dropdown-user -->
                      </li><!-- /.dropdown -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </header>
