<div class="nk-footer nk-auth-footer-full">
    <div class="container wide-lg">
        <div class="row g-3">
            <div class="col-lg-6 order-lg-last">
                <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/terms">Terms & Condition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-6">
                <div class="nk-block-content text-center text-lg-left">
                    <p class="text-soft">&copy; 2020 - 2022 Acecoins. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- wrap @e -->
</div>
<!-- content @e -->
</div>
<!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script>
    const checkbox = document.getElementById('checkbox')
    const btn = document.querySelector('button[type=submit]')
    const link = document.querySelector('#submit-div')
    link.innerHTML = `<button href="#" class="btn btn-lg btn-primary ttu" id="submit-btn" data-toggle="modal"
    data - target="#invest-plan" disabled> Confirm & proceed</button>'`
    btn.disabled = true
    checkbox.addEventListener('click', () => {
        if (checkbox.checked == true) {
            btn.disabled = false
            link.innerHTML = `<a href="#" class="btn btn-lg btn-primary ttu" id="submit-btn" data-toggle="modal"
                        data-target="#invest-plan">Confirm &amp; proceed</a>`
        }
        else {
            btn.disabled = true
            link.innerHTML = `<button href="#" class="btn btn-lg btn-primary ttu" id="submit-btn" data-toggle="modal"
    data - target="#invest-plan" disabled> Confirm & proceed</button>'`
        }
    })


</script>
<script src="./assets/js/bundle.js?ver=1.9.2"></script>
<script src="./assets/js/scripts.js?ver=1.9.2"></script>
<script src="./assets/js/charts/chart-invest.js?ver=1.9.2"></script>
</body>

</html>
