<style>
  footer {
    background-color: #1472c2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 700 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    bottom: 0;
    color: #fff
  }

  .fa.footer-contacts-icon,
  .social-links a {
    background-color: black;
    text-align: center
  }

  .footer-navigation h3 {
    margin: 0 0 20px;
    font: 400 36px Cookie;
    color: #fff
  }

  .footer-navigation h3 a {
    text-decoration: none;
    color: #fff
  }

  .footer-navigation h3 span {
    color: gold
  }

  .footer-navigation p.links a {
    color: #fff;
    text-decoration: none
  }

  .footer-navigation p.company-name {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px
  }

  @media (max-width:767px) {
    .footer-contacts {
      margin: 30px 0
    }
  }

  .footer-contacts p {
    display: inline-block;
    color: #fff;
    vertical-align: middle
  }

  .footer-contacts p a {
    color: whitesmoke;
    text-decoration: none
  }

  .fa.footer-contacts-icon {
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 38px;
    margin: 10px 15px 10px 0
  }

  span.new-line-span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 2
  }

  .footer-about h4 {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px
  }

  .footer-about p {
    line-height: 20px;
    color: whitesmoke;
    font-size: 13px;
    font-weight: 400;
    margin: 0
  }

  div.social-links {
    margin-top: 20px;
    color: #fff
  }
</style>

<footer class="">
  <div class="row">
    <div class="col-md-4 col-sm-6 footer-navigation">
      <h3><a href="/">Ace<span>Coins </span></a></h3>
      <p class="links"><a href="/">Home</a><strong> · </strong><a href="/faq">FAQ</a><strong> · </strong><a
          href="/terms">Terms</a><strong> · </strong><a href="/contact">Contact</a><strong> · </p>
      <p class="company-name">Acecoins © 2019 </p>
    </div>
    <div class="col-md-4 col-sm-6 footer-contacts">
      <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
        <p><span class="new-line-span">Ground Floor, 2 Woodberry Grove, N12 0DR</span> London, England</p>
      </div>
      <div><i class="fa fa-phone footer-contacts-icon"></i>
        <p class="footer-center-info email text-left"> +44 70 3538 3453</p>
      </div>
      <div><i class="fa fa-envelope footer-contacts-icon"></i>
        <p> <a href="mailto:admin@acecoins.uk" target="_top">admin@acecoins.uk</a></p>
      </div>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 footer-about">
      <h4>About the company</h4>
      <p>Registered in the United Kingdom with a registration number under license of the company’s house: 11994686</p>
    </div>
  </div>
</footer>

<script>
  if ('serviceWorker' in navigator) {
    // sw.js can literally be empty, but must exist
    navigator.serviceWorker.register('/sw.js');
  }</script>

<script src="/old/js/jquery.js"></script>

<script src="/old/js/bootstrap.min.js"></script>
<script src="/old/js/bootstrap-select.min.js"></script>
<script src="/old/js/jquery.validate.min.js"></script>
<script src="/old/js/owl.carousel.min.js"></script>
<script src="/old/js/isotope.js"></script>
<script src="/old/js/jquery.magnific-popup.min.js"></script>
<script src="/old/js/waypoints.min.js"></script>
<script src="/old/js/jquery.counterup.min.js"></script>
<script src="/old/js/wow.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANeWJokmhaRC1wE6yhjqmSBjYsXPQj7Lw"></script>
<script src="/old/js/gmaps.js"></script>
<!-- google map helper -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANeWJokmhaRC1wE6yhjqmSBjYsXPQj7Lw&callback=initMap"
  type="text/javascript"></script> -->
<script src="/old/js/map-helper.js"></script>
<script src="/old/js/jquery.easing.min.js"></script>
<script src="/old/js/custom.js"></script>
<script src="/old/js/header.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5dd1ad7143be710e1d1dbaa3/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
</body>

</html>