<% include ./partials/old-header%>
<section class="faq-section">
    <div class="thm-container">
        <div class="sec-title text-center">
            <span>Questions</span>
            <h2>Questions you often ask</h2>
        </div><!-- /.sec-title -->
        <div class="accrodion-grp" data-grp-name="faq-accrodion">
            <div class="accrodion ">
                <div class="accrodion-title">
                    <h4>How can I invest with Acecoins ?</h4>
                </div>
                <div class="accrodion-content">
                    <p>To make a investment you must first become a member of Acecoins.uk Once you are signed up, you
                        can make your first deposit by clicking on deposit to wallet. . investments can only be made
                        from on site wallet balance. All deposit must be made through the member Area. You can login
                        using the member username and password you receive when signup.</p>
                </div>
                <div class="accrodion ">
                    <div class="accrodion-title">
                        <h4>Which e-currencies do you accept</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>You can make payment in Bitcoins, Litecoin, Ethereum, Dash</p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>How can I withdraw funds?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>Login to your account using your username and password and check the Withdraw section.</p>
                    </div>
                </div>
                <div class="accrodion active">
                    <div class="accrodion-title ">
                        <h4>What is the minimum withdrawal amount, when can I make a request <br /> and when will I be
                            paid?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>You can make withdrawal at any time if there are sufficient funds on your account.Sometimes
                            part of your funds is pending. For security reason we hold, for a while, the earnings that
                            you received from referrals. You will be paid within 24 hours into your Bitcoin wallet you
                            provided</p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>May I open several accounts in your program?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>No. If we find that one member has more that one account, the entire funds will be frozen</p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Can I lose money?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>There is a risk involved with investing in all high yield investment programs. However, there
                            are a few simple ways that can help you to reduce the risk of losing more than you can
                            afford to. First, align your investments with your financial goals, in other words, keep the
                            money you may need for the short-term out of more aggressive investments, reserving those
                            investment funds for the money you intend to raise over the long-term. It's very important
                            for you to know that we are real traders and that we invest members' funds on major
                            investments.</p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>What if I can't log into my account because I forgot my password?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>Click forgot password link, type your e-mail and you'll receive your account
                            information. </p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>What's pin?
                        </h4>
                    </div>
                    <div class="accrodion-content">
                        <p>Pin serves as a secured on site wallet pin that is required for all wallet transactions
                            (withdrawal and investment )
                        </p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Are pin recoverable? </h4>
                    </div>
                    <div class="accrodion-content">
                        <p>Wallet pin are not recoverable and can only be generated on registration
                        </p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>May I open several accounts in your program?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>No. If we find that one member has more that one account, the entire funds will be frozen</p>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Who manages the funds?</h4>
                    </div>
                    <div class="accrodion-content">
                        <p>These funds are managed by a team of Acecoins investment experts</p>
                    </div>
                </div>
            </div>
        </div><!-- /.thm-container -->
</section><!-- /.faq-section -->

<% include ./partials/footer %>