<% include partials/old-header %>
<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active slide-1" style="">
      <div class="carousel-caption">
        <div class="thm-container">
          <div class="box valign-bottom">
            <div class="content">
              <h2 data-animation="animated fadeInUp">
                welcome to <br />Acecoins
              </h2>
              <p data-animation="animated fadeInUp" class="tag-line">
                Pioneering crypto-financial service <br />
              </p>
              <!-- /.tag-line -->
              <a data-animation="animated fadeInDown" href="/register" class="thm-button">Start now</a>
              <a data-animation="animated fadeInDown" href="/login" class="thm-button borderd">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item slide-1" style="">
      <div class="carousel-caption">
        <div class="thm-container">
          <div class="box valign-bottom">
            <div class="content">
              <h2 data-animation="animated fadeInUp">
                Intelligent Plan <br />
                for your Money
              </h2>
              <p data-animation="animated fadeInUp" class="tag-line">
                Put your investing ideas into action with a full range of <br />
                investments.Enjoy real benefits and rewards on <br />
                your investments.
              </p>
              <!-- /.tag-line -->
              <a data-animation="animated fadeInDown" href="/register" class="thm-button">Start now</a>
              <a data-animation="animated fadeInDown" href="/login" class="thm-button borderd">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="statics-section">
  <div class="thm-container clearfix">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-statics">
          <div class="icon-box">
            <i class="accure-icon-team"></i>
          </div>
          <!-- /.icon-box -->
          <div class="text-box">
            <h2>Total Members</h2>
            <span class="counter">52,572</span>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.single-statics -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-statics">
          <div class="icon-box">
            <i class="accure-icon-safebox-1"></i>
          </div>
          <!-- /.icon-box -->
          <div class="text-box">
            <h2>Total deposited</h2>
            <span class="counter">59,568,361</span>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.single-statics -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-statics no-border">
          <div class="icon-box">
            <i class="accure-icon-get-money"></i>
          </div>
          <!-- /.icon-box -->
          <div class="text-box">
            <h2>Total Profits</h2>
            <span class="counter">21,346,939</span>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.single-statics -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.statics-section -->

<section class="about-section sec-pad" id="about">
  <div class="thm-container">
    <div class="row">
      <div class="col-md-6">
        <div class="video-box clearfix">
          <img src="old/img/bitcoin.jpg" class="pull-right moc-img" alt="Awesome Image" />
          <a href="https://youtu.be/Um63OQz3bjo" target="_blank" class="video-btn video-popup"><i
              class="icofont icofont-ui-play"></i></a>
        </div>
        <!-- /.video-box -->
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="title">
          <span>Who We Are</span>
          <h2>About AceCoins</h2>
          <p>
            Acecoins is one of the leading company in the cryptocurrency trading
            industry.Our budding company offers a highly profitable investment
            for everyone. Years of trading experience in the multi-currency
            markets provide a stable income not only for company but also for
            numerous clients around the world.
          </p>
        </div>
        <!-- /.title -->
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-about-box hvr-bounce-to-bottom">
              <div class="icon-box">
                <i class="accure-icon-idea"></i>
              </div>
              <!-- /.icon-box -->
              <h3>We Innovate</h3>
              <p>We innovate systematically, continuously and successfully</p>
            </div>
            <!-- /.single-about-box -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-about-box hvr-bounce-to-bottom">
              <div class="icon-box">
                <i class="accure-icon-award"></i>
              </div>
              <!-- /.icon-box -->
              <h3>Secured and Encrypted</h3>
              <p>
                Acecoins is fully secured and encrypted from DDOS attacks.
              </p>
            </div>
            <!-- /.single-about-box -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-about-box hvr-bounce-to-bottom">
              <div class="icon-box">
                <i class="accure-icon-user"></i>
              </div>
              <!-- /.icon-box -->
              <h3>We are Professional</h3>
              <p>
                Our diverse team, from data scientists to industry experts,
                across finance, retail, hospitality and technology, has decades
                of industry expertise.
              </p>
            </div>
            <!-- /.single-about-box -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-about-box hvr-bounce-to-bottom">
              <div class="icon-box">
                <i class="accure-icon-dollar-3"></i>
              </div>
              <!-- /.icon-box -->
              <h3>Saving & Investments</h3>
              <p>
                Don't just leave your money in the bank make real profit from
                your savings by investing on our platform. Earn while you save.
              </p>
            </div>
            <!-- /.single-about-box -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.about-section -->

<section class="our-philoshopy">
  <div class="thm-container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-left">
        <div class="philoshopy-content">
          <span>Our philosophy</span>
          <h3>
            We were always <br />
            thinking global
          </h3>
          <p>
            Our research and experience show that by also considering the
            quality of a company, as well as its earnings growth and market
            sentiment, our ability to achieve more stable returns through
            shorter-term market cycles is enhanced. We call this “driving with
            the headlights on”. Built into this research is a deep understanding
            of the various portfolio and share risks. We believe that skilful
            risk management, not avoidance, can enhance returns within our
            client portfolios. Our disciplined portfolio construction process
            manages behavioural bias, drives debate within the team and enables
            us to invest with conviction. Our clients are at the heart of
            everything we do. Our team’s incentives are aligned to the
            performance of our funds and the individual shares we select. This
            ensures that our clients’ interests drive our investment decisions.
          </p>
        </div>
        <!-- /.philoshopy-content -->
      </div>
      <!-- /.col-md-5 -->
      <div class="col-lg-6 col-md-6 pull-right col-sm-12 col-xs-12 investing-box hidden-xs">
        <div class="investing-wrap clearfix">
          <img src="old/img/think.png" alt="Awesome Image" class="pulll-right philoshophy-img" />
          <div class="start-investing clearfix">
            <h4>Start invest Now</h4>
            <p>
              We provide 24/7 trading access, executed by our team of
              experienced traders with trading backgrounds in the traditional
              banking industry.
            </p>
            <a href="#plan" class="view-plan">View Plan</a>
          </div>
          <!-- /.start-investing -->
        </div>
        <!-- /.investing-wrap -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.our-philoshopy -->

<section class="process-section sec-pad">
  <div class="thm-container">
    <div class="sec-title text-center">
      <span>How it works</span>
      <h2>Three easy way to start</h2>
    </div>
    <!-- /.sec-title -->
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-process text-center">
          <div class="icon-box">
            <i class="accure-icon-id-card"></i>
            <div class="count">01</div>
            <!-- /.count -->
          </div>
          <!-- /.icon-box -->
          <h3>Register Account</h3>
        </div>
        <!-- /.single-process -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-process text-center">
          <div class="icon-box">
            <i class="accure-icon-money-2"></i>
            <div class="count">02</div>
            <!-- /.count -->
          </div>
          <!-- /.icon-box -->
          <h3>Make Deposit</h3>
        </div>
        <!-- /.single-process -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-process no-arrow text-center">
          <div class="icon-box">
            <i class="accure-icon-get-money"></i>
            <div class="count">03</div>
            <!-- /.count -->
          </div>
          <!-- /.icon-box -->
          <h3>Receive Earnings</h3>
        </div>
        <!-- /.single-process -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.process-section -->

<section class="why-choose-us sec-pad" id="services">
  <div class="thm-container">
    <div class="sec-title text-center">
      <span>OUR SERVICES</span>
      <h2>WHY SHOULD CHOOSE US</h2>
    </div>
    <!-- /.sec-title -->
    <div class="single-why-choose">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
          <div class="img-box text-right">
            <img src="old/img/profit.png" alt="Awesome Image" />
          </div>
          <!-- /.img-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
          <div class="text-box">
            <h3>Stable & Profitable</h3>
            <p>
              We can meet you anywhere in your Investment journey with a stable
              and profitable plan that changes and grows with you, from full
              implementation to strategic advisory and account management.
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.single-why-choose -->
    <div class="single-why-choose">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
          <div class="img-box text-left">
            <img src="old/img/ipad.png" alt="Awesome Image" />
          </div>
          <!-- /.img-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
          <div class="text-box">
            <h3>Instant and Secure <br />withdrawals</h3>
            <p>
              Withdraw funds from account balance to electronic purse within
              seconds of requesting the withdrawal.
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.single-why-choose -->
    <div class="single-why-choose">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
          <div class="img-box text-right">
            <img src="old/img/referrals.jpg" alt="Awesome Image" />
          </div>
          <!-- /.img-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
          <div class="text-box">
            <h3>Referral Programs</h3>
            <p>
              We are ready to give you more profit by referring your friends. we
              offer a direct referral commission of 10% for every first deposit made
              by your sign up. Join us and start making money with the reliable
              company.
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.single-why-choose -->
    <div class="single-why-choose">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
          <div class="img-box text-left">
            <img src="old/img/currency.png" alt="Awesome Image" />
          </div>
          <!-- /.img-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
          <div class="text-box">
            <h3>multi-Currency Support</h3>
            <p>
              We are in the world. We have users all over the world and accept
              invest and payout in all currencies .
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.single-why-choose -->
    <div class="single-why-choose">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
          <div class="img-box text-right">
            <img src="old/img/support.png" alt="Awesome Image" />
          </div>
          <!-- /.img-box -->
        </div>
        <!-- /.col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
          <div class="text-box">
            <h3>24/7 Customer Support</h3>
            <p>
              We provide 24/7 customer support on our live chat to meet your
              need faster and your experience better.
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.col-lg-6 col-md-12 col-sm-12 col-xs-12  -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.single-why-choose -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.why-choose-us -->
<section class="tools-section">
  <div class="thm-container">
    <div class="row">
      <div class="col-md-6">
        <div class="tools-content">
          <span>Intuitive, powerful tools</span>
          <h3>designed for you</h3>
          <p>
            Acecoins is a crypto financial service that encompases of Trading
            (binary option and forex ) cryptocurrency exchange and minining . We
            are a trading platform which is focused on studying and using the
            current forex and binary market trends to generate a reasonable
            profit for clients,Our brokers are well trained and have many years
            of experience in the forex Market . We also own and manage an
            efficient mining pool, aiming to provide easy-to-use
            functionalities, extraordinary security and stability, superb
            service, generous and transparent profits for our clients from all
            over the world. Acecoins supports mining services of 10 coins,
            including Bitcoin, Ripple and Ethereum .
          </p>
        </div>
        <!-- /.tools-content -->
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6">
        <img class="pull-left" src="old/img/tools.png" alt="Awesome Image" />
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.tools-section -->

<section class="tools-satisfaction">
  <div class="thm-container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="single-tool-satisfaction">
          <div class="icon-box">
            <div class="inner"><i class="icofont icofont-check-alt"></i></div>
            <!-- /.inner -->
          </div>
          <!-- /.icon-box -->
          <div class="text-box">
            <h3>Satisfaction guaranteed</h3>
            <p>
              Regardless of the type of investment strategy the company also
              guarantees the full return on investment after the end of accruals
              period.
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.single-tool-satisfaction -->
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="single-tool-satisfaction">
          <div class="icon-box">
            <div class="inner"><i class="icofont icofont-cop-badge"></i></div>
            <!-- /.inner -->
          </div>
          <!-- /.icon-box -->
          <div class="text-box">
            <h3>Advice you can trust.</h3>
            <p>
              Our passion is your investing experience. If you ever feel we've
              missed the mark, let us know. We'll do everything we can to make
              it right.
            </p>
          </div>
          <!-- /.text-box -->
        </div>
        <!-- /.single-tool-satisfaction -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.tools-satisfaction -->

<section class="pricing-section sec-pad" id="pricing">
  <div class="thm-container">
    <div class="sec-title text-center">
      <span>Expore more features</span>
      <h2>by Selecting a plan</h2>
      <p>Choose How You Want to Invest With Us</p>
    </div>
    <!-- /.sec-title -->
    <div class="tab-btn" role="tablist">

    </div>
    <!-- /.tab-btn -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="monthly-price">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-pricing hvr-bounce-to-bottom">
              <div class="title">
                <h3>Starter Plan</h3>
              </div>
              <!-- /.title -->
              <div class="percent">
                <span>130%</span>
                <p>in 30 Dayss</p>
              </div>
              <!-- /.percent -->
              <div class="info">
                <p>Minimum Deposit $100</p>
                <p>Maximum Deposit $4,999</p>
                <p>Enhanced security</p>
                <p>get Paid profit of 10% every 10 days</p>
                <p>24/7Support</p>
              </div>
              <!-- /.info -->
              <div class="btn-box">
                <a href="/register" class="sign-up">Sign up now</a>
                <small style="display: block; margin-top: 3rem; font-size: 1rem;">**Principal included**</small>
              </div>
              <!-- /.btn-box -->
            </div>
            <!-- /.single-pricing -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-pricing hvr-bounce-to-bottom">
              <div class="title">
                <h3>Silver Plan</h3>
              </div>
              <!-- /.title -->
              <div class="percent">
                <span>190%</span>
                <p>in 60 Days</p>
              </div>
              <!-- /.percent -->
              <div class="info">
                <p>Minimum Deposit $5,000</p>
                <p>Maximum Deposit $49,999</p>
                <p>Enhanced security</p>
                <p>get Paid profit of 15% every 10 days</p>
                <p>24/7Support</p>
              </div>
              <!-- /.info -->
              <div class="btn-box">
                <a href="/register" class="sign-up">Sign up now</a>
                <small style="display: block; margin-top: 3rem; font-size: 1rem;">**Principal included**</small>
              </div>
              <!-- /.btn-box -->
            </div>
            <!-- /.single-pricing -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-pricing hvr-bounce-to-bottom">
              <div class="title">
                <h3>Diamond Plan</h3>
              </div>
              <!-- /.title -->
              <div class="percent">
                <span>280%</span>
                <p>in 90 days</p>
              </div>
              <!-- /.percent -->
              <div class="info">
                <p>Minimum Deposit $50,000</p>
                <p>Maximum Deposit $200,000</p>
                <p>Enhanced security</p>
                <p>get Paid profit of 20% every 10 days</p>
                <p>24/7Support</p>
              </div>
              <!-- /.info -->
              <div class="btn-box">
                <a href="/register" class="sign-up">Sign up now</a>
                <small style="display: block; margin-top: 3rem; font-size: 1rem;">**Principal included**</small>
              </div>
              <!-- /.btn-box -->
            </div>
            <!-- /.single-pricing -->
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
      </div>

    </div>
    <!-- /.thm-container -->
</section>
<!-- /.pricing-section -->

<section class="call-to-action-style-one">
  <div class="thm-container clearfix">
    <div class="title pull-left">
      <h2>Join over 510,000 registered members</h2>
      <p>It's free, quick and easy.</p>
    </div>
    <!-- /.title pull-left -->
    <div class="cta-btn-box pull-right">
      <a href="/register" class="cta-btn">JOIN AceCoins</a>
    </div>
    <!-- /.cta-btn pull-right -->
  </div>
  <!-- /.thm-container -->
</section>
<!-- /.call-to-action -->

<% include partials/old-footer %>
